obj
bin
rcf
csx
packages
node_modules
bower_components
*.sdf
*.opensdf
*.cache
*.user
*.suo
*.userosscache
*.DotSettings
*.log
*.cs.pp
*.map
desktop.ini
UpgradeLog.htm

*.xcuserdatad
.DS_Store
ant-build
ant-gen
local.properties
pingme.txt
vsjsignore
*.coverage
*.wadcfgx
*.chk
*.jrs
*.ide

/Src/.vs/
